.App {
  text-align: center;
  display: flex;
  font-family: Nunito;
  background-color: rgb(20, 20, 20);
  min-height: 100vh;
}
.clamped-h1 {
  font-size: clamp(1em, 5vw, 2.5em);
}
.clamped-h2 {
  font-size: clamp(0.9em, 5vw, 1.5em);
}
.clamped-h3 {
  font-size: clamp(0.702em, 5vw, 1.17em);
}
.clamped-h4 {
  font-size: clamp(0.672em, 5vw, 1.12em);
}
.clamped-h5 {
  font-size: clamp(0.5em, 5vw, 0.83em);
}
.clamped-h6 {
  font-size: clamp(0.45em, 5vw, 0.75em);
}
.clamped-text {
  font-size: clamp(0.6em, 2vw, 1.1em);
}
::placeholder {
  color: whitesmoke;
  font-size: clamp(0.6em, 2vw, 1.1em);
}
.tabs {
  display: flex;
  align-items: center;
  color: whitesmoke;
}
.all {
  background-color: #1ac197;
}

.tabs > p {
  margin: 0 0 0 10%;
}
.toaster {
  position: absolute;
  padding: 2%;
  max-height: 1px;
  right: 0px;
}

.success-toast-body {
  background: rgb(170, 210, 160);
}

.error-toast-body {
  background: rgb(200, 160, 160);
}
option {
  background-color: rgb(20, 20, 20);
}
